/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: floralwhite;
	
}
a {
	text-decoration: none;
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	position: relative;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	position: relative;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/* creation de la modale  */
#link-modal {
	position: absolute;
    right: 32%;
    top: 0.4%;
}
.js-modal {
	left: 5%;
    position: absolute;
    bottom: -7%;
}
.modifBtn {
	position: absolute;
    top: 40px;
	display: none;
}
.modal {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	
}
.modal-content {
	position: relative;
	background-color: #FFF;
	width: 630px;
	height: 731px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	border-radius: 10px;
}
.modal-content img {
	height: 108px;
	margin-right: 10px;
    margin-bottom: 10px;
}
.modal-content input {
	align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
}
.fa-solid {
	position: absolute;
    left: 93%;
    top: 35px;
	cursor: pointer;
}
.modal-projet {
	padding: 20px 70px;
    display: flex;
    flex-wrap: wrap;
	height: 400px;
    width: 490px;
    align-items: center;
}
.btn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 45px;
	display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
	bottom: 11%;
	right: 39%;
}
.delBtn {
	font-family: 'Syne';
    font-weight: 200;
    position: absolute;
    bottom: 10%;
    right: 42%;
    background: white;
    border: none;
    color: red;
}
.img-container {
	position: relative;
}
.iconContainer {
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: black;
	top: 0.5%;
    right: 10.7%
}


.fa-trash-alt:before {
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#portfolio nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
#portfolio nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	font-size: 20px;
	margin: 25px 0 25px 12px;
    border-radius: 60px;
    border: 1px solid;
	font-family: Syne;
	color: #1D6154
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact form button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	height: 45px;
}
#contact form a {
	text-align: center;
	text-decoration: underline;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Style de la modal */
.modal2 {
	display: none; /* Masquer la modal par défaut */
	position: fixed; /* Position fixe pour la modal */
	z-index: 1; /* Faire en sorte que la modal soit au-dessus de tout */
	left: 0;
	top: 0;
	width: 100%; /* Prendre toute la largeur */
	height: 100%; /* Prendre toute la hauteur */
	overflow: auto; /* Ajouter un scroll si nécessaire */
	background-color: rgba(0,0,0,0.4); /* Ajouter un fond noir semi-transparent */
  }
  
  /* Style pour le contenu de la modal */
  .modal2-content {
	position: relative;
	background-color: #FFF;
	width: 630px;
	height: 731px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	border-radius: 10px;
	font-family: 'Syne';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;

  }
  #modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	
  }
  .lablTitle {
	position: absolute;
    bottom: 49%;
    left: 17%;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;

  }
  .lablCateg {
	position: absolute;
    bottom: 26%;
    left: 17%;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;

  }
  #category , #title {
	width: 420px;
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 9%);
	margin-bottom: 37px;
  }
  #modal-form input[type="submit"] {
	height: 47px;
	width: 237px;
	position: absolute;
	bottom: -35%;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;

  }
  .fa-xmark {
	position: absolute;
    right: 4%;
    bottom: 95.9%;
}
  
  /* Style pour le bouton de fermeture */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  .border {
	position: absolute;
	width: 420px;
	height: 0px;
	bottom: 27%;
	right: 21%;
	border: 1px solid #B3B3B3;
  }
  .border2 {
	position: absolute;
	width: 420px;
	height: 0px;
	bottom: -5%;
	right: 17%;
	border: 1px solid #B3B3B3;
  }
  
  /* Style pour le bouton de fermeture au survol */
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  #image-preview {
	width: 420px;
	height: 169px;
	border: 1px solid #ccc;
	background: #E8F1F7;
	border-radius: 3px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
	position: relative;
	display: flex;
    justify-content: center;
  }
  #image-preview p {
	position: absolute;
    top: 85%;
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
  }

  #image-upload {
  display: none; /* masquer le bouton d'origine */
}

  .custom-file-upload {
	border: 1px solid #ccc;
	display: flex;
	padding: 6px 12px;
	cursor: pointer;
	color: #306685;
    width: 150px;
    height: 26px;
    background: #CBD6DC;
    border-radius: 50px;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: 33px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
}
  .fa-image:before {
    content: "\f03e";
    position: absolute;
    bottom: 50%;
	left: 44%;
    color: #B9C5CC;
}
  
  
  
  
  
  
  

